nav {
    background: #000000;
    color: white;
    box-shadow: 0px 1px 1px rgb(245, 245, 129);
    margin-bottom: 15px;
  }
  
  .cart {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    margin-right: 30px;
  }

  .cart-quantity {
    margin-right: 3px;
  }

  .userName-icon {
    display: flex;
    align-items: center;
  }

  .userName {
    margin-right: 5px;
  }

  /* --------------------- mobile --------------------- */

  /* add mobile breaks */